.card{
    width: 120px;
    margin-left: 2px;
    margin-right: 2px;
}

.card::after{
    border: 1px solid black !important;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dataContainer span{
    text-align: center;
}